body{
	background-color:#273746;

}

p{
	color: #000;
}
/* encabesado_____________________________________________ header */
header {
  background: #000;
  position: fixed;
  z-index: 100;
  width: 100%;
  

}


article{
	padding-top: 11%;
}



@media only screen and (max-width: 1024px) {
    article {
        
        padding-top: 13%;
     

}
}

@media only screen and (max-width: 770px) {
    article {
        
        padding-top: 23%;
     

}
}

@media screen and (max-device-width : 1024px) {

       article {
        
        padding-top: 13%;
     

}

}
@media screen and (max-device-width : 770px) {

article {
        
        padding-top: 23%;
     

}

}


/* encabesado_____________________________________________ logo y titulo*/


#logo{

	width:80%;
	height: 100PX;	
	margin-top: 3%;
	margin-left: 10%;
	margin-bottom: 5%;

}
#divlogo{
	border: 1px solid #FFF;
	margin-right:5%;
}


.container1{
	background: #000;
	height:130px;
	margin-top: 1%;
	
	margin-left: 1%;
}

.nombrep{
	color:  #A48604;
text-align: center;
}

.divTitulo{
	margin-top: 2%;
}




@media only screen and (max-width: 962px) {
    #logo {
        
        width: 80%;
}
}
/*_____________________________________________________________navegacion principal*/
.navegacionp{
	
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	margin-right: 2%;
	margin-left: 10%;
}



.navbar-brand{
	margin-left:50%;
	color: 	#000000;
	float: none;
}

.nombresMenu{
color: #FFF;
text-align: left;
}

#botonMenu{
	margin-left: 1%;
	display: none;
}
@media only screen and (max-width: 963px) {
 .navegacionp{
        
        display:none;
}
}

@media only screen and (max-width: 963px) {
 #botonMenu{
        
        display: block;
}
}

@media screen and (max-device-width : 963px) {

       .navegacionp{
	        display:none;
	        }

}
@media screen and (max-device-width : 963px) {

#botonMenu{
        
        display: block;
}

}

.dropdown-menu{
	background: #000;
}
.dropdown-item{
	color: #fff;
}

/*______________________________________________________________carrusel*/

#containerCarrusel{
	background-color:#273746; 
	margin-top: 1%;
	margin-left: 1%;
}
.imgCarrusel{
	height: 200px;
}


/* ____________________________________________________texto carrusel */

.divtextocarrusel{
	margin-bottom: 1%;
	margin-left: 6%;
	
}

.textocarrusel{
	color: #000;
}
/*___________________________________________________________sinta de contactos*/
.centrar-telefono{
	text-align: center;
	color: #000;

}
#fotoTelefono{
	height: 30px;
	width: 30px;
	margin-top: 2%;
}



/*_______________________________________________redesociales*/

.redesSociales{
	margin-top: %;
	margin-bottom: 5%;
	width: 20%;	
	height:;

}

.contianerRedes{
	margin-right:20%;
	margin-left: 20%;
	
}

#containerRedes{
	background-color:#000;
	margin-left:1%;
}

#tiReSo{
	text-align: center;
color: #fff;
margin-top: 2%;
}

/*__________________________________________________servivio*/
#serviciostitulo{
	text-align: center;
	margin-top: 0.5%;
}

.centrartxservicios{
	text-align: center;
	color: #000;
}

#servivios{
	background-color: #FFFFFF;
	margin-left: 1%;
}

.columnasServicios{
	background-color: #273746;
	margin-bottom: 1px;
	border: 1px solid #000;
}

.fotoServicios{
	width:40%;
	height: 100px;
	margin-top: 1%;
}

/*____________________________________________________________________Aliados*/
.columnasAliados{
	background-color:#273746  ;		
	border: ;
}

.fotoAliados{
	width:40%;
	height:200px;
	margin-top: 10%;
	border-radius: 20%;
}
#aliados{
	background-color: #FFFFFF;
	margin-left: 1%;
}

#aliadostitulo{
	text-align: center;
	color: #000;
	padding-top: 5.5%;
}

/*____________________________________________________________________clientes*/

#clientes{
	background-color: #FFFFFF;
	margin-left: 1%;
	margin-top: 1%;
}
.columnasClientes{
	background-color:#273746  ;		
	border: ;
}
.fotoClientes{
	width:40%;
	height:100px;
	margin-top: 10%;
	border-radius: 10%;
	
}
#clientestitulo{
	text-align: center;
	color: #000;
	padding-top: 5%;
}
/*____________________________________________________________________contactos */

#sexionContactos{
	background: #ffff;
	margin-left: 1%;
}
.columnasContactos{
	background: #1C2833;
}

#divapicontac{
	margin-top: 1%;	
	margin-bottom: 1%;

}
#contactostitulo{
	text-align: center;
	padding-top: 5.7%;

}


#divNomContE{
	background-color: #000;
	height: 70px;
	margin-bottom: 10%;

}

#h4TiCon{
	text-align: center;
	color: #fff;
	margin-top: 1%;
}
#iframeContact{
	


}



/*____________________________________________________________________Nosotros */

#divNosotros{
	background-color:#273746  ;
	margin-top:1%;
	margin-bottom: 3px;
}
#tituloNosotros{
	text-align: center;
	padding-top: 5%;
}
#containerNosotros{
	background-color: #fff;
	margin-top: 1%;
	margin-left: 1%;
}

.texNosotros{
	text-align: justify;
}
/*_________________________________________________________________________Pagos*/

#containerPagos{
	background-color: #fff;
	margin-top: 1%;
	margin-left: 1%;
}
#tituloPagos{
	text-align: center;
	padding-top: 5%;
}

.texPagos{
	text-align: justify;
}
#divPagos{
	background-color: #273746  ;

}

/*____________________________________________________________________footer*/
footer{
	background-color: #000;
	margin-left: 1%;
}

.footer{
	margin-top: 1%;
	margin-left: 1%;
}

.textofooter{
	color: #FFFFFF;
	text-align: center;
}
